.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-body {
  font-size: large;
  margin-top: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navigation {
  padding-bottom: 15px;
}

a.list-item {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.hide {
  display: none;
}

.no-decoration {
  list-style: none;
}
